.fig1 {
    float: left;
    width: 450px;
    height: 400px;
}
h1{ 
    border-bottom-style: inset;
    color: white;
}
.fig2 {
    float: right;
    width: 450px;
    height: 400px;    
}
p {
    color:white;
}
body {
    color:white
}

body {
    background-color:black
}



.btn{
    font-family: arial;
    font-size:14px;
    font-weight:650;
    text-transform:capitalize;
    border:none;
    padding:30px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none; }


.A{
    background:green;
    color: black;
    box-shadow:0 5px 0 #014901;
  }


.A:hover{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
  }

.A:active{
    position:relative;
    top:5px;
    box-shadow:none;
  } *
  {
      margin: 5px;
      padding: 5px;

  }


.B{
    background:white;
    color: black;
    box-shadow:0 5px 0 grey;
  }
.B:active {
    position:relative;
    top:5px;
    box-shadow:none;
}*{
     margin: 5px;
     padding: 5px;
     box-sizing: content-box;
    }

.B:hover{
    background:#bec2be;
    box-shadow:0 5px 0 #828582;
  }
  

.container {
    width: 400px;
    margin: 0 auto;
}
.C{
    background: white;
    color: black;
    box-shadow:0 5px 0 grey;
}
.C:hover{
    background:#bec2be;
    box-shadow:0 5px 0 #828582;
} 

.C:active{
    position:relative;
    top:5px;
    box-shadow:none;
  } * {
    margin: 4px;
    padding: 4px;
    
}
 .D {
    background: white;
    color: black;
    box-shadow:0 5px 0 grey;
 } 
 .D:hover{
    background:#bec2be;
    box-shadow:0 5px 0 #828582;
}
.D:active{
    position:relative;
    top:5px;
    box-shadow:none;
} * {
    margin: 4px;
    padding: 4px;
    
}
