.fig1 {
    float: left;
    width: 450px;
    height: 400px;
}
h1{ 
    text-align: center;
    border-bottom-style: inset;
    color: white;
    background-color: #222222;
    margin-bottom: 20px;
    margin-top: 30px;
}
.fig2 {
    float: right;
    width: 450px;
    height: 400px;    
}
body {
    color:white
}

body {
    background-color:black
}

.in-data {
    text-align: center;
}


.btn{
    font-family: arial;
    font-size:14px;
    font-weight:650;
    text-transform:capitalize;
    border:none;
    padding:30px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none; }


.A{
    background:green;
    color: black;
    box-shadow:0 5px 0 #014901;
    width: 120px;
  }


.A:hover{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
  }

.A:active{
    position:relative;
    top:5px;
    box-shadow:none;
  } *
  {
      margin: 2px;
      padding: 2px;
      box-sizing: content-box;

  }


.B{
    background:white;
    color: black;
    box-shadow:0 5px 0 grey;
    width: 120px;
  }
.B:active {
    position:relative;
    top:5px;
    box-shadow:none;
}*{
     margin: 2px;
     padding: 2px;
     box-sizing: content-box;
    }

.B:hover{
    background:#bec2be;
    box-shadow:0 5px 0 #828582;
  }
  

.container {
    width: 800px;
    margin: 0 auto;
}
.C{
    background: white;
    color: black;
    box-shadow:0 5px 0 grey;
    width: 120px;
}
.C:hover{
    background:#bec2be;
    box-shadow:0 5px 0 #828582;
} 

.C:active{
    position:relative;
    top:5px;
    box-shadow:none;
  } * {
    margin: 2px;
    padding: 2px;
    
}
 .D {
    background: white;
    color: black;
    box-shadow:0 5px 0 grey;
    width: 120px;
    border-bottom: #bec2be;
    margin-bottom: 20px;
 } 
 .D:hover{
    background:#bec2be;
    box-shadow:0 5px 0 #828582;
}
.D:active{
    position:relative;
    top:5px;
    box-shadow:none;
} * {
    margin-bottom: 4px;
    padding: 2px;
    
}
div {
    margin: 0 auto;
    /*border-bottom-style: solid;*/
}

pre {
    padding: 20px;
    background-color: #222222;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 18pt;
}

.button-container {
    text-align: center;
}
